@use 'variaveis';

.informacoes {
    border: 1px solid variaveis.$corDoTextoPadrao;
    padding: 16px 24px;
    background-color: variaveis.$corDoTextoPadrao;
    display: flex;
    justify-content: space-between;

    &__infos {
        display: flex;
        gap: 40px; // distancia entre os itens

        &__item {
            font-size: 14px;
            color: variaveis.$corDoTextoSecundario;

            b {
                color: variaveis.$corDoTextoSecundario;
                font-size: 18px;
                display: block; // usado para que ele não quebre a linha
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}