@use 'hero';
@use 'informacoes';
@use 'buttons';
@use 'eventos';
@use 'variaveis';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: variaveis.$corDoTextoPadrao;
    list-style: none; // retira os pontos de todos os item
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) { // celular
        max-width: 80%;
    }

    @media (max-width: 1024px) { // tablet
        max-width: 90%;
    }
}